<aside class="col-3 p-3 bg-body-secondary align-item">
  <nav>
    <ul class="list-group flex-column">
      <li class="list-group-item list-group-item-action">
        <a class="nav-link link-light fs-5" href="/movies">
          <i class="bi bi-film"></i>
          <span>Movies</span>
        </a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a class="nav-link link-light fs-5" href="/catagories">
          <i class="bi bi-grid"></i>
          <span>Catagories</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
