<div class="card bg-body-secondary">
  <div class="card-body">
    <form action="/catagories/add" method="post">
      <h4 class="card-title">Add Catagory</h4>
      <!-- Name -->
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
      </div>
      <!-- Submit -->
      <button type="submit" class="btn btn-secondary">Add Catagory</button>
    </form>
  </div>
</div>
